<div class="page flex-col items-center gap-3 bg-primary">
    <div class="w-full bg-accent p-4">
        <header class="text-white font-nunito font-semibold">Automation Dashboard</header>
    </div>
    <div class="w-5/6 p-3">
        <header class="font-semibold font-nunito !text-3xl">Dashboard</header>
        <div class="w-full flex-row gap-3 pb-4 border-b-3 mb-4">
            <div class="card">
                <span class="font-nunito font-bold text-xl">Average Human Interaction</span>
                <div class="count">3</div>
            </div>
            <div class="card">
                <span class="font-nunito font-bold text-xl">Total Transfer Bot to Human</span>
                <div class="count">3</div>
            </div>
            <div class="card">
                <span class="font-nunito font-bold text-xl">Human Response</span>
                <div class="count">3</div>
            </div>
            <div class="card">
                <span class="font-nunito font-bold text-xl">Bot Response</span>
                <div class="count">3</div>
            </div>
        </div>
        <div class="w-full flex-col gap-3">
            <div class="flex-row justify-between">
                <Header class="font-nunito font-semibold !text-lg">Need Attention</Header>
                <form action="">
                    <input type="text" class="input-field border rounded-md p-1 !w-[350px]" placeholder="Search">
                </form>
            </div>
            <div class="h-[400px] flex-col gap-3 overflow-auto !pr-3 pb-3">
                @for (logs of LogsList; track logs.conversation_id) {
                    <div class="card !border-t-0 border-x-2 flex-row justify-between !p-3 items-center">
                        <div class="flex-col font-nunito leading-none">
                            <span class="font-bold">PSID</span>
                            <span>{{ logs.customer_psid }}</span>
                        </div>

                        <div class="font-nunito leading-none flex-row gap-9">
                            <div class="flex-col gap-1">
                                <span class="font-bold">Date Time Transfer</span>
                                <span>{{ logs.date_created | date:'short' }}</span>
                            </div>

                            <div class="flex-col gap-1">
                                <select
                                    name="status-{{ logs.conversation_id }}"
                                    [(ngModel)]="logs.status"
                                    class="w-[200px] bg-primary p-2 outline-none rounded-md text-sm"
                                    (change)="updateHandoff(logs)"
                                >
                                    <option value="OPEN">OPEN</option>
                                    <option value="PURCHASE">PURCHASE</option>
                                    <option value="COMPLAINT">COMPLAINT</option>
                                </select>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>